:root {
    --black: rgb(20, 20, 20);
    --gray: rgb(60, 60, 60);
    --white: rgb(248, 248, 248);
}

body {
    background: linear-gradient(
        180deg,
        var(--black) 60%,
        rgb(34, 16, 36) 100%
    ) fixed;
    color: var(--white);
}

/* Header */
#header {
    font-family: sans-serif;
    text-align: center;
    margin: 15% 10px;
}
    #header h1 {
        font-size: 60px;
        letter-spacing: -1px;
        line-height: 1;
        font-weight: 600;
        user-select: none;
        margin: 20px;
        text-shadow: 0 2px 3px #b393d3, 0 5px 6px #b393d3, 0 -2px 5px black;
    }
    #header input {
        border: none;
        box-sizing: border-box;
        color: var(--white);
        font-size: 20px;
        height: 50px;
        outline: none;
    }
        .search-box {
            background: var(--gray);
            border-radius: 10px 0 0 10px;
            padding-left: 30px;
            margin-right: 5px;
            max-width: 600px;
            width: 100%;
        }
        .search-btn {
            background: url("img/search-icon.png") var(--gray) no-repeat center;
            background-size: 30px;
            border-radius: 0 10px 10px 0;
            width: 70px;
            transition: all 0.1s cubic-bezier(0,1.22,.99,.97);
        }
        .pressed {
            background-size: 25px;
            transform: scale(80%);
        }
        .focused {
            background-color: rgb(70, 70, 70);
        }
    #giphy-logo {
        margin: 20px;
        max-width: 250px;
        width: 70%;
        animation: appear 1s;
    }
        @keyframes appear {
            0% { opacity: 0%; transform: translateY(20px); }
        }
    @media (max-aspect-ratio: 1/1) {
        #header h1 {
            font-size: 90px;
        }
        #header input {
            height: 110px;
            font-size: 40px;
        }
        .search-box {
            max-width: 80%;
        }
        #giphy-logo {
            max-width: 400px;
        }
    }

/* Gallery */
#gifs {
    display: inline-block;
    column-count: 2;
}
    @media (min-aspect-ratio: 9/16) {
        #gifs {
            column-count: 3;
        }
    }
    @media (min-aspect-ratio: 1/1) {
        #gifs {
            padding: 0 15%;
            column-count: 4;
        }
    }
    #gifs img {
        border-radius: 5px;
        height: auto !important;
        width: 100% !important;
        margin: 10px 10px;
    }

/* Scrollbar */
::-webkit-scrollbar {
    background: var(--black);
}
    ::-webkit-scrollbar-thumb {
        background: rgba(230, 230, 230, 0.05);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
        background: rgba(230, 230, 230, 0.025);
    }

.row-container {
    display: flex;
    justify-content: center;
    flex-flow: row;
}