:root {
    --black: rgb(20, 20, 20);
    --gray: rgb(60, 60, 60);
    --white: rgb(248, 248, 248);
}

body {
    font-family: sans-serif;
    background: url("img/background-pattern.png");
    color: var(--white);
}

#background {
    position: fixed;
    background: linear-gradient(
        180deg,
        rgba(20, 20, 20, 0.75) 60%,
        rgba(37, 12, 39, 0.75) 100%
    ) no-repeat fixed;
    width: 100%; height: 100%;
    top: 0%; left: 0%;
    z-index: -1;
}

/* Header */
#header {
    text-align: center;
    margin: 15% 10px;
}
    #header h1 {
        font-size: 60px;
        letter-spacing: -1px;
        font-weight: 600;
        user-select: none;
        margin: 20px;
        text-shadow: 0 2px 3px #b393d3, 0 5px 6px #b393d3, 0 -2px 5px black;
    }
    .row-container {
        display: flex;
        justify-content: center;
        flex-flow: row;
    }
        #header input {
            border: none;
            box-sizing: border-box;
            color: var(--white);
            font-size: 20px;
            height: 50px;
            outline: none;
        }
        .search-box {
            background: var(--gray);
            border-radius: 10px 0 0 10px;
            padding-left: 30px;
            margin-right: 5px;
            max-width: 600px;
            width: 100%;
        }
        .search-btn {
            background: url("img/search-icon.png") var(--gray) no-repeat center;
            background-size: 30px;
            border-radius: 0 10px 10px 0;
            width: 70px;
            transition: all 0.1s cubic-bezier(0,1.22,.99,.97);
        }
        .pressed {
            background-size: 25px;
            transform: scale(80%);
        }
        .focused {
            background-color: rgb(70, 70, 70);
        }
    #giphy-logo {
        margin: 20px;
        max-width: 250px;
        width: 70%;
        animation: appear 1s;
    }
        @keyframes appear {
            0% { opacity: 0%; transform: translateY(20px); }
        }
    @media (max-aspect-ratio: 1/1) {
        #header h1 {
            font-size: 500%;
        }
        #header input {
            height: 110px;
            font-size: 40px;
        }
        .search-box {
            max-width: 80%;
        }
        #giphy-logo {
            max-width: 400px;
        }
    }

/* Gallery */
#gifs-block {
    padding: 0 15%;
}
    #gifs-title {
        text-align: left;
        font-size: 25px;
        font-weight: 100;
    }
    #gifs {
        display: inline-block;
        column-count: 4;
    }
        .gif-container > * {
            border-radius: 5px;
            height: auto !important;
            width: 100% !important;
            margin-bottom: 5%;
        }
    @media (max-aspect-ratio: 1/1) {
        #gifs {
            column-count: 3;
        }
        #gifs-block {
            padding: 0 0;
        }
        #gifs-title {
            text-align: center;
            font-size: 50px;
            font-weight: 400;
        }
        .gif-container > * {
            margin-bottom: 4%;
        }
    }
    @media (max-aspect-ratio: 9/16) {
        #gifs {
            column-count: 2;
        }
        .gif-container > * {
            margin-bottom: 2.5%;
        }
    }

/* Image display */
.img-display {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(12, 11, 12, 0.9);
    height: 80%; width: 80%;
}
    .img-display img {
        position: fixed;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
    }
    #img-display-shadow {
        position: relative;
        z-index: 1;
        opacity: 100%;
        height: 100%; width: 100%;
        background: linear-gradient(
            180deg,
            transparent 20%,
            var(--black) 100%
        );
    }

/* Scroll Back To Top Button */
.scroll-top {
    background: url("img/to-top.png") rgba(46, 30, 48, 0.75) no-repeat;
    background-position: 50% 45%;
    background-size: 60%;
    bottom: 0%; right: 0%;
    position: fixed;
    margin: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 2px 0px white, 0 6px 4px rgb(157, 0, 255);
}
    @media (max-aspect-ratio: 1/1) {
        .scroll-top {
            height: 140px;
            width: 140px;
            margin: 40px;
        }
    }

/* Scrollbar */
::-webkit-scrollbar {
    background: var(--black);
}
    ::-webkit-scrollbar-thumb {
        background: rgba(230, 230, 230, 0.05);
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
        background: rgba(230, 230, 230, 0.025);
    }